.page-transition-enter-active {
    opacity: 1;
    transition: opacity 0.15s, transform 0.15s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
}

.page-transition-enter {
    opacity: 0;
    transform: translate(0px, 6px);
}

#app {
    background: #e5e5e5;
}

.alexs-toolbar div div .v-image__image {
    filter: opacity(8%) grayscale(100%);
}

.petition-box:focus::before,
.v-card--link:focus::before {
    background: none;
}

.scroll {
    overflow-y: auto;
}